.cabecalho{
    background-color: #ec7cb4;
    color:rgb(236, 204, 204);
    display: flex;
    justify-content: space-around;
}
.neymar{
    width: 500px;
    position: relative;
    top: 50px;
    left: 150px;
}
.cabecalho-lista-item{
   display: inline-block;

} 


